@use 'src/styles/mixins.scss';
@import-normalize;

* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

  @font-face {
      font-family: "Gilroy";
      src: url("../../../public/fonts/Gilroy-Medium.woff2") format("woff2");
      src: url("../../../public/fonts/Gilroy-Medium.woff") format("woff");
      font-weight: 400;
      font-style: normal;
  }

  @font-face {
      font-family: "Gilroy";
      src: url("../../../public/fonts/Gilroy-Bold.woff2") format("woff2");
      src: url("../../../public/fonts/Gilroy-Bold.woff") format("woff");
      font-weight: 700;
      font-style: normal;
  }

  body {
    width: 100%;
    height: 100%;
  
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
  
    color: #000000;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  .container {
    width: 100%;
    max-width: 943px;
    margin: 0 auto;

    @include mixins.vp-1023 {
      padding: 0 35px;
    }

    @include mixins.vp-767 {
      padding: 0 29px;
    }
  }