@use 'src/styles/mixins.scss';

.skills {
    padding: 0 0 172px;

    @include mixins.vp-767 {
        padding: 0 0 98px;
    }
}

.title {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    padding-top: 84px;

    @include mixins.vp-767 {
        padding-top: 77px;
    }
}

.description {
    text-align: center;
    margin: 57px 0 0;

    @include mixins.vp-767 {
        margin: 38px 0 0;
    }
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 166px);
    gap: 20px 90px;
    margin: 88px 0 0;

    @include mixins.vp-767 {
        grid-template-columns: 1fr;
        margin: 74px 0 0;
        gap: 81px;
    }
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemDescription {
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    text-align: center;
    color: #828282;;
    margin: 23px 27px 0;

    @include mixins.vp-767 {
        margin: 25px 0 0;
        max-width: 100px;
    }
}