@use 'src/styles/mixins.scss';

.footer {
    text-align: center;
    padding: 0 0 140px;
}

.title {
    font-size: 34px;
    line-height: 42px;
    padding-top: 106px;

    @include mixins.vp-767 {
        padding:  76px 0 0;
    }
}

.description {
    max-width: 300px;
    margin: 25px auto 0;

    @include mixins.vp-767 {
        margin: 31px auto 0;
    }
}

.link {
    display: inline-flex;
    font-weight: 700;
    color: #ffffff;
    background-color: #070707;
    margin: 30px 0 0;
    padding: 12px 30px;
    border-radius: 25px;

    &:hover {
        box-shadow: 0px 1px 30px 0px rgba(50, 50, 50, 1);
        transition: box-shadow 0.3s;
    }

    @include mixins.vp-767 {
        width: 100%;
        justify-content: center;
        margin: 40px 0 0;
    }
}

.socials {
    display: flex;
    flex-wrap: wrap;
    max-width: 344px;
    margin: 86px auto 0;
    
    @include mixins.vp-767 {
        margin: 48px auto 0;
    }
}

.social {
    margin: 0 61px 10px 0;

    &:nth-child(4n) {
        margin: 0;
    }

    &:last-child {
        margin: 0;
    }

    @include mixins.vp-767 {
        margin: 0 52px 10px 0;
    }
}

.socialIcon {
    @media (hover: hover), screen and (min-width: 0\0) {
        &:hover {
            fill: #589800;
            transition: fill 0.3s;
        }
      }
}

.subText {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 28px 0 0;
    color: #828282;

    @include mixins.vp-767 {
        font-size: 18px;
        line-height: 22px;
        margin: 30px 0 0;
    }
}